ul{
    border: 1px solid darkorchid;
    padding: 10px;
    background-image: url(img/depositphotos_180995004-stock-photo-grandmother-portrait-set-in-the.jpg);

    }
    

li{ 
        color: blueviolet;
        font-size: 20px;

    }

    